<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="32.1.19" />
  <package id="Syncfusion.DocIO.Wpf" version="32.1.19" />
  <package id="syncfusion.excelcharttoimageconverter.wpf" version="32.1.19" />
  <package id="Syncfusion.ExcelToPdfConverter.Wpf" version="32.1.19" />
  <package id="syncfusion.licensing" version="32.1.19" />
  <package id="Syncfusion.Pdf.Wpf" version="32.1.19" />
  <package id="syncfusion.sfchart.wpf" version="32.1.19" />
  <package id="syncfusion.sfgauge.wpf" version="32.1.19" />
  <package id="syncfusion.sfmaps.wpf" version="32.1.19" />
  <package id="syncfusion.shared.wpf" version="32.1.19" />
  <package id="Syncfusion.XlsIO.Wpf" version="32.1.19" />
</packages>